parameters:
    database_host:     db4free.net
    database_port:     null
    database_name:     vtrack
    database_user:     vtrack_test
    database_password: F1bonacc1

    mailer_transport:  smtp
    mailer_host:       vtrack@vehicle-tracker.site88.net
    mailer_user:       a2316633
    mailer_password:   F1bonacc1

    secret:            Al0ham0ra

    app_name:          Vehicle Tracker
    version:           0.0.1
    author:            Nadun De Silva

    entity.user:       CoreBundle:User
    entity.vehicle:    CoreBundle:Vehicle
    entity.fill_up:    CoreBundle:FillUp
    entity.check_in:   CoreBundle:CheckIn
    entity.misc_cost:  CoreBundle:MiscCost