parameters:
    database_host:     ap-cdbr-azure-southeast-b.cloudapp.net
    database_port:     3306
    database_name:     vtrack
    database_user:     bd1926aff0d863
    database_password: 1e961f76

    test_database_host:     null
    test_database_port:     null
    test_database_name:     test_db_sqlite
    test_database_user:     null
    test_database_password: null

    mailer_transport:  smtp
    mailer_host:       vtrack@vehicle-tracker.site88.net
    mailer_user:       a2316633
    mailer_password:   F1bonacc1

    secret:            Al0ham0ra

    app_name:          Vehicle Tracker
    version:           0.0.1
    author:            Nadun De Silva

    entity.user:       CoreBundle:User
    entity.vehicle:    CoreBundle:Vehicle
    entity.fill_up:    CoreBundle:FillUp
    entity.check_in:   CoreBundle:CheckIn
    entity.misc_cost:  CoreBundle:MiscCost
